<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="FreeCRM Applicationtest Suite">
	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>

	<test name="Free CRM Test Cases">


		<classes>
			<class name="com.crm.qa.TestCases.LoginPageTest" />
			<class name="com.crm.qa.TestCases.HomePageTest" />
			<class name="com.crm.qa.TestCases.ContactPageTest" />
             

		</classes>


	</test>

</suite>

